<mat-list *ngFor="let otherillness of appointment.other_illness">
    <mat-card class="matCard">
      <mat-card-header>
        <mat-card-subtitle>Name: {{  otherillness.illness_name }}</mat-card-subtitle>
        <mat-card-subtitle>Medicine Name:{{  otherillness.medication_name }}</mat-card-subtitle>
        <mat-card-subtitle>Medication Doses:  {{ otherillness.medication_doses }}</mat-card-subtitle>
        <mat-card-subtitle>Prescribed By: {{  otherillness.medication_prescribedBy }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-list>
  