<mat-card>
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-subtitle>Contact Number: {{ PatientProfile.patient_contact_number }}</mat-card-subtitle>
        <mat-card-subtitle>Height: {{ PatientProfile.patient_height }}</mat-card-subtitle>
        <mat-card-subtitle
          >Weight: {{ PatientProfile.patient_weight }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Gender: {{ PatientProfile.patient_gender }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Address: {{ PatientProfile.patient_address }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Blood Group: {{ PatientProfile.patient_blood_group }}</mat-card-subtitle
        >
      </mat-card-header>
</mat-card>