.mainMatCard{
    padding: 10px;
    margin: 20px;
    height: 100%;
}

.editButtonClass{
    text-align: center;
    margin-left: 70%;

    height: 40px;
}

.mat-card-header-class{
    padding: 10px;
}

.mat-button-toggle-group-class{
    margin: 20px;
}

.router-outlet-class{
    margin: 20px;
}

.example-header-image{
    width: max-content;
}