<div class="presviousButtonClass">
    <button mat-raised-button (click)="goBack()">Back</button>
  </div>
  
  <div class="mainMatCard">
    <mat-card class="matCardClass">
      <mat-card-content>
        <div>Edit Details</div>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    name="doctor_name"
                    [(ngModel)]="doctor_name"
                    [disabled]="true"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    name="doctor_email"
                    [(ngModel)]="doctor_email"
                    [disabled]="true"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>contact number</mat-label>
                  <input
                    matInput
                    name="doctor_contact_no"
                    [(ngModel)]="doctor_contact_no"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Doctor speciality</mat-label>
                  <input matInput name="doctor_speciality" [(ngModel)]="doctor_speciality" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>doctor gender</mat-label>
                  <input
                    matInput
                    name="doctor_gender"
                    [(ngModel)]="doctor_gender"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>doctor education</mat-label>
                  <input
                    matInput
                    name="doctor_education"
                    [(ngModel)]="doctor_education"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <div>
          <button mat-raised-button (click)="updatePersonalDetails()">
            Update
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    </div>
    