<div class="presviousButtonClass">
  <button mat-raised-button (click)="goBack()">Back</button>
</div>

<div class="mainMatCard">
  <mat-card class="matCardClass">
    <mat-card-content>
      <div>Personal Details</div>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  name="patient_name"
                  [(ngModel)]="patient_name"
                  [disabled]="true"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  name="patient_email"
                  [(ngModel)]="patient_email"
                  [disabled]="true"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>contact number</mat-label>
                <input
                  matInput
                  name="patient_contact_number"
                  [(ngModel)]="patient_contact_number"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput name="patient_dob" [(ngModel)]="patient_dob" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Height</mat-label>
                <input
                  matInput
                  name="patient_height"
                  [(ngModel)]="patient_height"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Weight</mat-label>
                <input
                  matInput
                  name="patient_weight"
                  [(ngModel)]="patient_weight"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Gender</mat-label>
                <input
                  matInput
                  name="patient_gender"
                  [(ngModel)]="patient_gender"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  name="patient_address"
                  [(ngModel)]="patient_address"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>patient_blood_group</mat-label>
                <input
                  matInput
                  name="patient_blood_group"
                  [(ngModel)]="patient_blood_group"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div>
        <button mat-raised-button (click)="updatePersonalDetails()">
          Update
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="matCardClass">
    <mat-card-content>
      <div>Add Other Illness</div>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Illness name</mat-label>
                <input
                  matInput
                  name="illness_name"
                  [(ngModel)]="illness_name"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Medication Name</mat-label>
                <input matInput name="medication_name" [(ngModel)]="medication_name" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Doses</mat-label>
                <input
                  matInput
                  name="medication_doses"
                  [(ngModel)]="medication_doses"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Prescribed By:</mat-label>
                <input
                  matInput
                  name="medication_prescribedBy"
                  [(ngModel)]="medication_prescribedBy"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div>
        <button mat-raised-button (click)="addOtherIllness()">
          Add Other Illness
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="matCardClass">
    <mat-card-content>
      <div>Operations/Surgeries</div>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>operation/surgery name</mat-label>
                <input
                  matInput
                  name="operation_surgery_name"
                  [(ngModel)]="operation_surgery_name"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>date</mat-label>
                <input matInput name="date" [(ngModel)]="date" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div>
        <button mat-raised-button (click)="addOperations_Surgeries()">
          Add Operations/Surgeries
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="matCardClass">
    <mat-card-content>
      <div>Family History</div>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Relation</mat-label>
                <input
                  matInput
                  name="relation"
                  [(ngModel)]="relation"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>illness</mat-label>
                <input matInput name="illness" [(ngModel)]="illness" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div>
        <button mat-raised-button (click)="addFamilyHistory()">
          Add Family History
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
