<div class="mat-button-toggle-group-class">
<mat-button-toggle-group
  name="fontStyle"
  aria-label="Font Style"
  #toggleGroup="matButtonToggleGroup"
>
  <mat-button-toggle value="false" (change)="onValChange($event.value)"
    >Pending</mat-button-toggle
  >
  <mat-button-toggle value="true" (change)="onValChange($event.value)"
    >Completed</mat-button-toggle
  >
</mat-button-toggle-group>
</div>

<mat-list *ngFor="let appointment of appointments">
  <mat-card
    *ngIf="appointment.completed && completedVal === 'true'; else elseBlock"
    class="matCard"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Patient Name: {{ appointment.patient_name }}</mat-card-title>
      <mat-card-subtitle>Appointment Date: {{ appointment.appointmentDate }}</mat-card-subtitle>
      <mat-card-subtitle>Appointment Time: {{ appointment.appointmentTime }}</mat-card-subtitle>
      <div class="viewAppointmentButtonClass">
        <button  mat-raised-button (click)="completedViewAppointment(appointment.appointmentId)">View</button>
      </div>
    </mat-card-header>

  </mat-card>

  <ng-template #elseBlock>
    <mat-card
      class="matCard"
      *ngIf="!appointment.completed && completedVal === 'false'"
    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Patient Name: {{ appointment.patient_name }}</mat-card-title>
        <mat-card-subtitle>Appointment date: {{
          appointment.appointmentDate
        }}</mat-card-subtitle>
        <mat-card-subtitle>Appointment Time: {{
          appointment.appointmentTime
        }}</mat-card-subtitle>
        <div class="viewAppointmentButtonClass">
          <button  mat-raised-button (click)="pendingViewAppointment(appointment.appointmentId)">View</button>
        </div>
      </mat-card-header>
    </mat-card>
  </ng-template>
</mat-list>

<!-- <mat-list *ngFor="let appoint of appointments">
  <mat-card class="matCard">
    <mat-card-title>{{ appoint.patientId }}</mat-card-title>
    <mat-card-subtitle>{{ appoint.time }}</mat-card-subtitle>
    <mat-card-subtitle>{{ appoint.date }}</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-raised-button>View</button>
    </mat-card-actions>
  </mat-card>
</mat-list> -->
