<div class="example-form-div">
  <p class="title">Login</p>

  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput name="email" />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              type="password"
            />
            <button
              mat-button
              *ngIf="passwordValue"
              matSuffix
              mat-icon-button
              aria-label="Clear"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <div>
    <button mat-raised-button >Login</button>
  </div>
  <div class="a-class">
    <a routerLink="/patient_signup" routerActiveLink="active"
      >Not registered? SignUp here</a
    >
  </div>
</div>

<br /><br />
