<div class="goBackButtonClass">
<button mat-raised-button (click)="goBack()">Back</button>
</div>
<mat-list >
    <mat-card class="matCard">
      <mat-card-header>
        <mat-card-subtitle>Doctor Name: {{ prescriptions.doctor_name }}</mat-card-subtitle>
        <mat-card-subtitle>Doctor Email: {{ prescriptions.doctor_email }}</mat-card-subtitle>
        <mat-card-subtitle>Specialist: {{ prescriptions.specialist }}</mat-card-subtitle>
        <mat-card-subtitle>Appointment Date: {{ prescriptions.appointment_date }}</mat-card-subtitle>
        <mat-card-subtitle>Appointment Time: {{ prescriptions.appointment_time }}</mat-card-subtitle>

        <mat-card-subtitle>Tablet Name: {{ prescriptions.tablet_name }}</mat-card-subtitle>
        <mat-card-subtitle>Dose: {{ prescriptions.dose }}</mat-card-subtitle>
        <mat-card-subtitle>Quantity: {{ prescriptions.Quantity }}</mat-card-subtitle>
        <mat-card-subtitle>Number of Days: {{ prescriptions.numberOfDays }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-list>
  