<mat-toolbar *ngIf="!navDisable" color="primary" class="navbar">
  <div>Caresway</div>
  <div>
    <button mat-button routerLink="/home" routerActiveLink="active">
      Home
    </button>
    <button mat-button routerLink="/doctors" routerActiveLink="active">
      Doctors
    </button>
    <button mat-button routerLink="/clinics" routerActiveLink="active">
      Clinics
    </button>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Account</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/login" routerActiveLink="active">
        Login
      </button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu">SignUp</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        routerLink="/doctor_signup"
        routerActiveLink="active"
      >
        As Doctor
      </button>
      <button
        mat-menu-item
        routerLink="/patient_signup"
        routerActiveLink="active"
      >
        As Patient
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-list *ngFor="let clinic of clinics">
  <mat-card class="matCard">
    <mat-card-title>{{ clinic.Clinic_name }}</mat-card-title>
    <mat-card-subtitle>{{ clinic.Clinic_timing }}</mat-card-subtitle>
    <mat-card-subtitle>{{ clinic.Doctor_name }}</mat-card-subtitle>
    <mat-card-subtitle>{{ clinic.Doctor_Email }}</mat-card-subtitle>
    
    <mat-card-actions align="end" *ngIf="!navDisable; else elseBlock">
      <button mat-raised-button (click)= "getclinicsbydocid(clinic.Doctor_Id)">View</button>
    </mat-card-actions>

    <ng-template #elseBlock>
      <div>
        <mat-card-actions class="mat-card-actions-class">
          <button
            mat-raised-button
            (click)="doctorBookAppointment(clinic.Doctor_Id)"
          >
            Book Appointment
          </button>
        </mat-card-actions>
      </div>
    </ng-template>
  </mat-card>
</mat-list>

 <router-outlet>
  
</router-outlet> 