@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.addClinicButtonClass{
    margin-left: 80%;
    margin-top: 20px;
    font-family:'Playfair Display', serif;
    font-size: 18px;
}

.mat-card-actions-time-class,.timeInputClass{
    /* font-family:'Playfair Display', serif;
    font-size: 18px; */
    margin: 20px;
}

/* .example-full-width{
    font-family:'Playfair Display', serif;
    font-size: 18px;
} */

.ifClass{
    /* font-family:'Playfair Display', serif;
    font-size: 18px; */
    margin: 20px;
}

.goBackButtonClass{
    margin: 20px;
}