<mat-toolbar *ngIf="!navDisable" color="primary" class="navbar">
  <div>Caresway</div>
  <div>
    <button mat-button routerLink="/home" routerActiveLink="active">
      Home
    </button>
    <button mat-button routerLink="/doctors" routerActiveLink="active">
      Doctors
    </button>
    <button mat-button routerLink="/clinics" routerActiveLink="active">
      Clinics
    </button>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Account</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/login" routerActiveLink="active">
        Login
      </button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu">SignUp</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        routerLink="/doctor_signup"
        routerActiveLink="active"
      >
        As Doctor
      </button>
      <button
        mat-menu-item
        routerLink="/patient_signup"
        routerActiveLink="active"
      >
        As Patient
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="formclass">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="String"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="getPosts($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Speciality</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="String"
        matInput
        [formControl]="myControl2"
        [matAutocomplete]="auto2"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto2="matAutocomplete"
        (optionSelected)="getPosts2($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions2 | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<!-- <div >
<form >
  <mat-form-field class="example-full-width">
    <mat-label>Speciality</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="String"
      matInput
      [formControl]="myControl2"
      [matAutocomplete]="auto2"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto2="matAutocomplete"
      (optionSelected)="getPosts2($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filteredOptions2 | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

</div> -->

<mat-list *ngFor="let doctor of doctors">
  <mat-card class="matCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ doctor.name }}</mat-card-title>
      <mat-card-subtitle>{{ doctor.speciality }}</mat-card-subtitle>
      <mat-card-subtitle>{{ doctor.location }}</mat-card-subtitle>

      <div>
        <mat-card-actions
          class="mat-card-actions-class"
          *ngIf="!navDisable; else elseBlock"
        >
          <button class="test" mat-raised-button (click)="viewDoctorDetail(doctor.id)">
            View
          </button>
        </mat-card-actions>
      </div>

      <ng-template #elseBlock>
        <div>
          <mat-card-actions class="mat-card-actions-class">
            <button
              mat-raised-button
              (click)="doctorBookAppointment(doctor.id)"
            >
              Book Appointment
            </button>
          </mat-card-actions>
        </div>
      </ng-template>
    </mat-card-header>
  </mat-card>
</mat-list>

<!-- <router-outlet></router-outlet> -->

<!-- <router-outlet *ngIf="!navDisable"></router-outlet> -->
